# Ignore artifacts:
build
coverage

# Ignore all HTML files:
*.html

# Ignore App.tsx:
src/App.tsx

# Ignore LogoAnimated.tsx:
src/components/LogoAnimated/LogoAnimated.tsx

# Ignore Models:
src/models/*.model.js